# Byte-compiled files
__pycache__/
*.py[cod]

# Virtual environment
venv/
.env/

# Distribution / packaging
build/
dist/
*.egg-info/

# IDE-specific files
.vscode/
.idea/

# Logs and temporary files
*.log
*.tmp
